1. before changing functionality, make sure to first review the readme for any contradictions
2. if you change the functionality, make sure to update the readme file
3. never run or update tests at the moment, it will be done at a later date
5. Any updates to read me should be to the existing read me in the root folder